# ─────────────────────────────────────
#  AI VOICE AGENT — Настройки
#  Заполни все поля ниже своими данными
# ─────────────────────────────────────

# VAPI.AI
VAPI_API_KEY=b05f830e-dcd7-4fee-958a-bdad293e631e

# AMOCRM (получим через OAuth — см. инструкцию)
AMOCRM_SUBDOMAIN=entriumuz
AMOCRM_ACCESS_TOKEN=uf1MjSc3lZq8Udwupjf5tsoySrMCrkiCb0Rvm1nxdUIXVja8iEBAizni0rDxwx8y

# ELEVENLABS
ELEVENLABS_API_KEY=sk_2d2c4fd3252ccb1c780450b3eda70f40d1dea6ae7e673835

# SARKOR SIP
SIP_HOST=mystep.sip.uz
SIP_USERNAME=admin
SIP_PASSWORD=PqHDWNeSBb

# СЕРВЕР
PORT=3000
